*, *:before, *:after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #ffffff;
  /*height: 100vh;*/
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;

}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;

}

.nav_bar {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  text-align: center;
}

ul.nav_bar li {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
}

a.case_studies:link {
  color: inherit;
  text-decoration: none;
}

a.case_studies:visited {
  color: inherit;
  text-decoration: none;
}

a.case_studies:hover {
  color: #EAC7CB;
  text-decoration: underline;
}

a.case_studies:active {
  color: #E88D83;
  text-decoration: underline;
}

.hero {
  width: 100%;
  text-align: center;
  background-color: #343545;

}

ul.header li {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  padding: 15px;

}

li span.name {
  font-size: 2.5rem;
}

li span.location {
  font-size: 1.8rem;
}

.work {
  margin: 20px;
}

h6 {
  text-transform: uppercase;
  font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  padding-left: 15px;
  font-size: .7rem;
}

.LeChef {
  background-color: #E6E1E2;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  column-count: 2;
}

.lechef_homepage {
  width: 100%;
  height: auto;
  float: right;
  clear: left;
  padding-top: 20px;
  padding-bottom: 20px;

}

h2 {
  padding: 15px;
  color: #343545;
  font-size: 1.3rem;
  text-align: center;

}

p {
  padding: 15px;
  color: #343545;
  font-size: .9rem;
  line-height: 1.2;
  text-align: center;


}

.button {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figma_button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: solid #E88D83;
  border-radius: .5em;
  background-color: #E88D83;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  color: #343545;
  text-align: center;
  font-size: .75rem;

}

.Bus {
  background-color: #D5E0E2;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 10px;
  column-count: 2;
}

.Busybus {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  clear: left;
}

.Bus_button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: solid #425A9F;
  border-radius: .5em;
  background-color: #425A9F;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  font-size: .75rem;

}

footer {
  font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-align: center;
}

h3 {
  font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-align: center;
  padding-bottom: 15px;
  font-size: .9rem;

}

.icons {
  column-count: 3;
  margin-left: 70px;
  margin-right: 70px;

}

h4 {
  font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  font-size: .7rem;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-top: 15px;
}


@media screen and (min-width: 900px) {

  .logo {
    margin-top: 17px;
  }

  h6 {
    padding-left: 80px;
    font-size: .8rem;
  }

  .lechef_homepage {
    width: 80%;
    height: auto;
    padding-right: 80px;
  }

  p {
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 80px;

  }

  h2 {
    margin: 30px;
    padding: 30px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;

  }

  .button {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;

  }

  .figma_button {
    font-size: .85rem;
    padding: 0.3em 1.2em;
    margin: 0;
  }

  .Busybus {
    width: 80%;
    padding-right: 80px;
  }

  .Bus_button {
    font-size: .85rem;
  }

  footer {
    padding: 20px;
    font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  }

  h3 {
    font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1rem;
  }

  .icons {
    color: #000000;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    font-style: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    padding: 10px;
    padding-top: 20px;
  }
}
