*, *:before, *:after {
  box-sizing: border-box;
}

/* All pages */

body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;

}

/* Logo links to Home page */

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;

}

.nav_bar {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  text-align: center;
}

ul.nav_bar li {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
}

/* "About" nav */
a.biography:link {
  color: inherit;
  text-decoration: none;
}

a.biography:visited {
  color: inherit;
  text-decoration: none;
}

a.biography:hover {
  color: #E6E1E2;
  text-decoration: underline;
}

a.biography:active {
  color: #BDC8B5;
  text-decoration: underline;
}

/* "Work" nav */
a.case_studies:link {
  color: inherit;
  text-decoration: none;
}

a.case_studies:visited {
  color: inherit;
  text-decoration: none;
}

a.case_studies:hover {
  color: #E6E1E2;
  text-decoration: underline;
}

a.case_studies:active {
  color: #BDC8B5;
  text-decoration: underline;
}

/* Homepage */

/* Hero intro */

.wrapper_hero {
  margin: 2.5em;
}

.hero_homepage {
  width: 100%;
  text-align: center;
  background-color: #343545;

}

ul.header li {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  padding: 15px;

}

/* Intro word emphasis */

li span.name {
  font-size: 2.5rem;
}

li span.location {
  font-size: 1.8rem;
}

.work {
  margin: 20px;
}

/* "My Recent Work" */
h6.recent_work {
  font-family: 'Crimson Text', 'EB Garamond', serif;;
  text-transform: uppercase;
  padding-left: 2.5em;
  font-size: .7rem;
}

/* Project 1 - LeChef */

.LeChef {
  background-color: #E6E1E2;
  margin-bottom: 5px;
  padding-bottom: 5px;
  column-count: 2;
}


.lechef_homepage {
  width: 100%;
  height: auto;
  float: right;
  clear: left;
  margin-top: 20px;
  margin-bottom: 20px;

}

/* Project Title */

h2.case_study_title {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-left: 2.5em;
  color: #343545;
  font-size: 1.3rem;
  text-align: center;

}

/* All body text on this page */

p.homepage {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 2.5em;
  color: #343545;
  font-size: .9rem;
  line-height: 1.2;
  text-align: center;

}

/* All buttons on homepage page */

.button_homepage {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-left: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LeChef button */

.figma_button_homepage {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: solid #E88D83;
  border-radius: .5em;
  background-color: #E88D83;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  font-weight: 300;
  color: #343545;
  text-align: center;
  font-size: .75rem;

}

/* Project 2 - BusyBus */

.Bus {
  background-color: #D5E0E2;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  padding-bottom: 10px;
  column-count: 2;
}

.Busybus {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  clear: left;
}

/* BusyBus button */

.Bus_button {
  display: inline-block;
  padding: 0.3em 1.1em;
  margin: 0.1em 0.1em 0.1em 0.1em;
  border: solid #425A9F;
  border-radius: .5em;
  background-color: #425A9F;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  font-size: .75rem;

}

/* All pages - Footer */

footer {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-align: center;
}

h3 {
  text-align: center;
  padding-bottom: 15px;
  font-size: .9rem;

}

/* Email // LinkedIn // GitHub icon */

.icons {
  column-count: 3;
  margin-left: 70px;
  margin-right: 70px;

}

a.icon_links:link {
  color: inherit;
  text-decoration: none;
}

a.icon_links:visited {
  color: inherit;
  text-decoration: none;
}

a.icon_links:hover {
  color: #E6E1E2;
  text-decoration: none;
}

a.icon_links:active {
  color: #BDC8B5;
  text-decoration: none;
}

/* Copyright footer */

h4 {
  font-size: .7rem;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-top: 15px;
}

/* About page */


.hero_bio {
  background-color: #E88D83;
  column-count: 2;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  vertical-align: middle;

}

.wrapper_header {
  margin: 2.5em;
}

.about_photo {
  /*padding: 10px;*/
  margin: auto;
}

img.bio {
  width: 100%;
  height: auto;
  float: left;
  clear: right;
}

.about_header {
  padding-top: 15px;
  margin: auto;

}

h1.bio {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-align: left;
  font-size: 1rem;
  line-height: 1.1;
  float: right;
  clear: left;
}

.wrapper_about {
  margin: 2.5em;
}

h2.About {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 15px;

}

p.About {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-size: 1rem;
  padding: 15px;
  line-height: 1.7;
}

h5.About {
  font-size: 1.1rem;
  font-style: italic;
  padding: 15px;
  line-height: 1.7;
}

.About_page {
  background-color: #E6E1E2;
  padding: 5px;

}

.Quote {
  background-color: #D5E0E2;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 2.5em;
}

h6.About {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.7;
}

p.Quote {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  text-align: center;
  line-height: 1.7;
}


/* LeChef project page */

/* Hero Section*/

.hero_lechef {
  background-color: #FFB884;
  width: 100%;
  text-align: center;
}

  img.homepage {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapper_overview {
    margin: 2.5em;

  }

  h1.Lechef_page {
    padding: 15px;
    font-size: 1.5rem;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    font-weight: 600;
  }

  h6.Lechef_page {
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Crimson Text', 'EB Garamond', serif;


  }

  p.Lechef_page {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

/* Button Links to Figma Prototype */

  .button_lechef {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

  }

  .figma_button_lechefpage {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: solid #FA6D4D;
    border-radius: .5em;
    background-color: #FA6D4D;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    font-size: .75rem;
  }

  .wrapper_casestudy {
    margin: 7em 2.5em;
  }

  .grid-container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .9rem;

  }

  .details_icons {
    margin: 10px;
  }

  /* Information divided in 3 columns */

  .Roles {
    padding: 10px;
  }

  ul.Roles {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  .Deliverables {
    padding: 10px;
  }

  ul.Deliverables {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  .Details {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  ul.Details {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  li span.details_header {
    font-weight: 700;
    margin-top: 4px;
    text-align: center;
  }

  /* Problem to Solve */

  .Challenge {
    background-color: #FFE4D1;
    width: 100%;

  }

  h2.Lechef_page {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  p.Lechef_page span.important {
    font-weight: 700;
  }

  /* Survey Key Discoveries */

  ul.key h5.Lechef_page {
    text-align: center;
  }

  ul.key li {
    padding: 15px;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    text-align: center;
  }

  p.Lechef_page span.key {
    font-style: italic;
  }

  /* User Personas */

  .persona1 {
    width: 100%;
    height: auto;
  }

  .persona2 {
    width: 100%;
    height: auto;
  }

  /* Branding Section */

  .branding {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5.Lechef_page {
    font-size: 1.1rem;
    padding: 15px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    font-style: italic;
    font-weight: 200;
  }

  /* User Stories */

    ul.user_stories li {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.4;
      font-family: 'Crimson Text', 'EB Garamond', serif;
      text-align: center;
    }

    /* Wireframes */

  ul.captions li {
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: .9rem;
    margin-top: 20px;
  }


  .wireframes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343545;
    margin-top: 20px;
  }

  .frames {
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .results {
    background-color: #E6E1E2;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  /* Preference Testing */

  .ab_testing {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .testing {
    width: 100%;
    height: auto;
    padding-top: 15px;
    column-count: 2;
    display: inline-block;
    background-color: #343545;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  }


  .recipe_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .recipe_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  figcaption {
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;

  }

  .preference {
    width: 100%;
    background-color: #E6E1E2;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.preference li {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7;
    padding-bottom: 15px;
    font-size: 1rem;
  }

  li span.important {
    font-weight: 700;
  }

  /* Finishing Touches */

  .final {
    width: 100%;
    height: auto;
    padding-top: 15px;
    column-count: 2;
    display: inline-block;
    background-color: #343545;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  }

  .conversion_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .conversion_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }


  .create_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .create_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  .share_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .share_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  /* Links to Figma Protoype */

  a.figma_link {
    margin: 15px;
    color: #FA6D4D;
    font-weight: bold;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    font-size: .8rem;
  }
   /* Results and Takeaways */

  .takeaways {
    width: 100%;
    background-color: #FFE4D1;
    margin-top: 10px;
    margin-bottom: 20px;
  }


@media screen and (min-width: 900px) {

  /* All pages */

  /* Header */

  .logo {
    margin-top: 17px;
  }

  /* Homepage */

  /* "My Recent Work" */

  h6.recent_work {
    padding-left: 80px;
    font-size: .8rem;
  }

  /* Project 1 - LeChef */

  .lechef_homepage {
    width: 80%;
    height: auto;
    padding-right: 80px;
  }

  /* All body text on this page */

  p.homepage {
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 80px;

  }

  /* Project title */

  h2.case_study_title {
    margin: 30px;
    padding: 30px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;

  }

  /* All buttons on this page */

  .button_homepage {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;

  }

  /* LeChef button */

  .figma_button_homepage {
    font-size: .85rem;
    padding: 0.3em 1.2em;
    margin: 0;
  }

  /* Project 2 - BusyBus */

  .Busybus {
    width: 80%;
    padding-right: 80px;
  }

  /* BusyBusy button */

  .Bus_button {
    font-size: .85rem;
  }

  /* All pages - Footer */

  footer {
    padding: 20px;
  }

  h3 {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1rem;
  }

  /* Email // LinkedIn // GitHub */

  .icons {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Copyright footer */

  h4.footer_homepage {
    font-size: 1rem;
    padding: 10px;
    padding-top: 20px;
  }

  /* LeChef page */

  /* Hero section */

  img.homepage {
    width: 40%;
  }

  h1.Lechef_page {
    padding: 30px;
    padding-left: 200px;
    font-size: 3rem;
  }

  h6.Lechef_page {
    padding: 30px;
    padding-left: 200px;
    font-size: 1rem;

  }

  p.Lechef_page {
    padding-left: 200px;
    font-size: 1.3rem;
    padding-right: 200px;
    line-height: 1.9;
  }

  /* Links to Figma prototype */

  .figma_button_lechefpage {
    font-size: .95rem;
  }

  /* Details in 3 columns */

  .grid-container {
    width: 100%;
    padding: 15px;
    column-count: 3;
    display: inline-block;
    column-rule-style: solid;
    column-gap: 1em;
    column-rule-color: #979797;
    column-rule-width: .09rem;

  }

  .grid-container h6.Lechef_page {
    margin-right: 15px;
    padding-bottom: 10px;
    text-align: center;

  }

  .Roles h6.Lechef_page {
    text-align: center;
    margin-right: 135px;
  }

  .Deliverables h6.Lechef_page {
    text-align: center;
    padding-top: 25px;
    padding-left: 70px;
  }

  .Details h6.Lechef_page {
    text-align: center;
    padding-top: 25px;
    padding-left: 80px;
  }

  ul.Roles {
    font-size: 1rem;
    padding-left: 30px;
    text-align: center;
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.Deliverables {
    font-size: 1rem;
    padding-left: 30px;
    text-align: center;
    line-height: 1.3;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.Details {
    font-size: 1rem;
    padding-left: 30px;
    text-align: center;
    line-height: 1.3;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  li span.details_header {
    text-align: center;
    font-weight: 700;
    margin-top: 4px;

  }

  h2.Lechef_page {
    padding: 30px;
    padding-left: 200px;
  }

  /* User Persona */

  .persona1 {
    width: 49%;
    padding: 20px 25px 20px 200px;

  }

  .persona2 {
    width: 49%;
    padding: 20px 200px 20px 25px;

  }

  h5.Lechef_page {
    padding-left: 200px;
    font-size: 1.3rem;
  }

  /* User Stories */

  ul.user_stories li {
    font-size: 1.3rem;
  }

  .frames {
    width: 20%;
  }

  ul.key h5.Lechef_page {
    padding-left: 15px;
  }

  ul.key li {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  /* Wireframes */

  figcaption {
    font-size: .8rem;
  }

  .recipe_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .recipe_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;

  }


  .A_recipe figcaption {
    padding-left: 80px;
    padding-bottom: 20px;

  }

  .B_recipe figcaption {
    padding-right: 220px;
    padding-bottom: 20px;
  }

  ul.preference li {
    padding-left: 200px;
    font-size: 1.3rem;
  }


  .conversion_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .conversion_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_conversion figcaption {
    padding-left: 80px;
    padding-bottom: 35px;

  }

  .B_conversion figcaption {
    padding-right: 220px;
    padding-bottom: 20px;
  }

  .create_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .create_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_create figcaption {
    padding-left: 80px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .B_create figcaption {
    padding-right: 220px;
    padding-bottom: 30px;
  }

  .share_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .share_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_share figcaption {
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 10px;

  }

  .B_share figcaption {
    padding-right: 220px;
    padding-bottom: 20px;

  }

  .takeaways a {
    padding-left: 185px;
    font-size: .8rem;

  }

}
