*, *:before, *:after {
  box-sizing: border-box;
}

/* All pages */

body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  padding: 0.6rem 0.4rem;
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: #ffffff;

}

/* Logo links to Home page */

.logo_container {
  margin-left: 2.5rem;
}

img.logo {
  width: 80%;
  height: auto;
}




.nav_links {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  margin-right: 2.5rem;
  text-align: center;
}

.nav_links a {
  position: relative;
  text-decoration: none;
  padding: 1rem 0;
  display: block;

}

ul.nav_bar li {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: .8rem;
  list-style-type: none;
  display: inline-block;
  padding: 10px;

}

/* "About" nav */
a.biography:link {
  color: inherit;
  text-decoration: none;
}

a.biography:visited {
  color: inherit;
  text-decoration: none;
}

a.biography:hover {
  color: #E88D83;
  text-decoration: underline;
}

a.biography:active {
  color: inherit;
  text-decoration: underline;
}

/* "Work" nav */
a.case_studies:link {
  color: inherit;
  text-decoration: none;
}

a.case_studies:visited {
  color: inherit;
  text-decoration: none;
}

a.case_studies:hover {
  color: #E88D83;
  text-decoration: underline;
}

a.case_studies:active {
  color: inherit;
  text-decoration: underline;
}

/* "Resume" nav */
a.resume:link {
  color: inherit;
  text-decoration: none;
}

a.resume:visited {
  color: inherit;
  text-decoration: none;
}

a.resume:hover {
  color: #C26D96;
  text-decoration: underline;
}

a.resume:active {
  color: inherit;
  text-decoration: underline;
}

/* Homepage */

/* Hero intro */

.hero {
  text-align: center;
}

img.home_image {
  background-size: contain;
  width: 100%;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*.hero_text {
  position: absolute;
  top: 30%;
  left: 50%;

}*/

.hero_text {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

p.img_text {
  font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 1.8;
  text-align: center;
}


p.img_text span.name {
  text-transform: uppercase;
  font-size: 1.3rem;
}

p.img_text span.location {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #E88D83;
  font-weight: 800;
}


/* "My Recent Work" */
  .work {
  margin: 10px;
  text-align: center;
}

  img.divider {
    width: 20%;
    height: auto;
  }

/* Project 1 - LeChef */

.LeChef {
  background-color: #E6E1E2;
  margin-bottom: 5px;
  padding-bottom: 5px;
  column-count: 2;
  column-gap: 4em;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
}


.lechef_homepage {
  width: 150%;
  height: auto;
  float: right;
  clear: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}

/* Project Title */

h2.case_study_title {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 15px;
  margin-left: 2.5em;
  color: #343545;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;

}

/* All body text on this page */

p.homepage {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 2.5em;
  color: #343545;
  font-size: .9rem;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;

}

/* All buttons on homepage page */

.button_homepage {
  /*padding-right: 10px;*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-left: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LeChef button */

.figma_button_homepage {
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0 0.1em 0.1em 0;
  border: solid #E88D83;
  border-radius: .5em;
  background-color: #E88D83;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 300;
  color: #343545;
  text-align: center;
  font-size: .75rem;

}

/* Project 2 - BusyBus */

.Bus {
  background-color: #D5E0E2;
  margin-bottom: 5px;
  padding-bottom: 5px;
  column-count: 2;
  column-gap: 4em;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;

}

.Busybus {
  width: 150%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
  clear: left;
  margin-top: 20px;
  margin-bottom: 20px;

}

/* BusyBus button */

.Bus_button {
  display: inline-block;
  padding: 0.4em 0.3em;
  margin: 0.2em 0.1em 0.2em 0.1em;
  border: solid #425A9F;
  border-radius: .5em;
  background-color: #425A9F;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  font-size: .75rem;

}

/* All pages - Footer */

footer {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: .8rem;

}

/* Email // LinkedIn // GitHub icon */

.icons {
  column-count: 3;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 10px;
  margin-bottom: 10px;

}

a.icon_links:link {
  color: inherit;
  text-decoration: none;
}

a.icon_links:visited {
  color: inherit;
  text-decoration: none;
}

a.icon_links:hover {
  color: #E6E1E2;
  text-decoration: none;
}

a.icon_links:active {
  color: #BDC8B5;
  text-decoration: none;
}

/* Copyright footer */

h4 {
  font-size: .8rem;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-top: 15px;
}

/* About page */

.hero_bio {
  column-count: 2;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  vertical-align: middle;
  margin-top: 80px;

}

.wrapper_header {
  padding: 2.5em;
  background-color: #E88D83;

}

img.bio {
  max-width: 100%;
  height: auto;
  float: left;
  clear: right;

}


h1.bio {
  font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;
  color: #000000;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.3;
  float: right;
  clear: left;
  padding-top: 10px;
  padding-left: 15px;
}

.wrapper_about {
  margin: 2.5em;
}

h2.About {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 15px;

}

p.About {
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-size: 1rem;
  padding: 15px;
  line-height: 1.7;
}

h5.About {
  font-size: 1.1rem;
  font-style: italic;
  padding: 15px;
  line-height: 1.7;
}

.About_page {
  background-color: #E6E1E2;
  padding: 5px;

}

.Quote {
  background-color: #D5E0E2;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-bottom: 2.5em;
}

h6.About {
  font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.7;
}

p.Quote {
  font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: center;
  line-height: 1.7;
}

/* Resume page */

  .wrapper_resume {
    margin: 2.5em;
}

  .resume {
    text-align: center;
}

  img.resume {
    width: 100%;
    height: auto;

  }

  .button_resume {
    text-align: center;
    padding: 20px;
  }

  .resume_button {
    display: inline-block;
    padding: 0.3em 0.6em;
    margin: 0 0.1em 0.1em 0;
    border: solid #425A9F;
    border-radius: .5em;
    background-color: #425A9F;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    font-size: .9rem;
  }


/* LeChef project page */

/* Hero Section*/

  .hero_lechef {
    background-color: #FFB884;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
  }


  img.homepage {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .wrapper_overview {
    margin: 2.5em;

  }

  h1.Lechef_page {
    padding: 15px;
    font-size: 2rem;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    font-weight: 600;
  }

  p.Lechef_page span.overview {
    text-transform: uppercase;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  h6.Lechef_page {
    text-transform: uppercase;
    padding: 15px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  p.Lechef_page {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

/* Button Links to Figma Prototype */

  .button_lechef {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

  }

  .figma_button_lechefpage {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: solid #FA6D4D;
    border-radius: .5em;
    background-color: #FA6D4D;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    font-size: .9rem;
  }

  .wrapper_casestudy {
    margin: 2.5em;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: .9rem;

  }

  .details_icons {
    margin: 10px;
  }

  /* Information divided in 3 columns */

  .Roles {
    padding: 10px;
  }

  ul.Roles {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  .Deliverables {
    padding: 10px;
  }

  ul.Deliverables {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  .Details {
    padding: 10px;

  }

  ul.Details {
    line-height: 1.7;
    margin: 10px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  li.bold {
    margin-top: 4px;
    text-align: center;
    font-weight: 800;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    color: #FA6D4D;
  }

  /* Problem to Solve */

  .Challenge {
    background-color: #FFE4D1;
    width: 100%;

  }

  h2.Lechef_page {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  p.Lechef_page span.important {
    font-weight: 700;
  }

  /* Survey Key Discoveries */


  p.Lechef_page span.key {
    font-style: italic;
  }

  /* Competitive Analysis */

  h5.comp {
    font-size: 1.25rem;
    padding-top: 30px;
    padding-left: 10px;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: underline;
  }


  img.recipebox_logo {
    width: 100%;
    height: auto;
    padding-top: 15px;
  }

  .comp_logo {
    text-align: center;
  }

  img.pinterest_logo {
    width: 70%;
    height: auto;
    padding-top: 15px;
  }

  ul.strength_lechef {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Crimson Text', 'EB Garamond', serif;
    border-bottom: 1px solid #dbd9d9;
  }

  ul.strength_lechef li {
    padding-top: 5px;
  }

  ul.weakness_lechef {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Crimson Text', 'EB Garamond', serif;
  }

  ul.weakness_lechef li {
    padding-top: 5px;
  }


  ul.opportunity_lechef {
    margin-bottom: 20px;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.opportunity_lechef li {
    padding-top: 5px;
  }

  /* User Personas */

  .user_persona {
    padding: 15px;
    text-align: left;
    background-color: #E6E1E2;
    margin-bottom: 20px;
  }

  ul.persona_info {
    line-height: 1.4;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    font-size: .9rem;
    font-weight: 300;
  }

  .user_persona_img {
    text-align: center;
  }

  .personaA {
    width: 70%;
    height: auto;
    padding-bottom: 20px;
  }

  .personaB {
    width: 60%;
    height: auto;
    padding-bottom: 20px;

  }

  li.persona_name {
    font-weight: 600;
    font-size: 1.2rem;
  }

  li.persona_occupation {
    font-style: italic;
  }

  li.persona_header {
    text-transform: uppercase;
  }

  li.persona_quote {
    font-style: italic;
    font-family: 'Montserrat', 'Raleway', 'Roboto', sans-serif;

  }

  /* Branding Section */

  .branding {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5.Lechef_page {
    font-size: 1.25rem;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;

  }

  span.type {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
  }

  span.color_Lechef {
    color: #FA6D4D;
    font-weight: 600;
  }

  /* User flows */

  .user_flow1 {
    width: 100%;
    height: auto;
  }

  .user_flow2 {
    width: 100%;
    height: auto;
  }

  .user_flow {
    border: 1px solid #dbd9d9;
    margin: 10px;
  }

  .user_flow h5.Lechef_page {
    font-size: .7rem;
    text-align: center;
  }

  /* User Stories */

    ul.user_stories li {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.4;
      font-family: 'Crimson Text', 'EB Garamond', serif;
      text-align: center;
    }

    /* Sketches */

    .sketch_lechef {
      background-color: #343545;
      margin-top: 5px;
      margin-bottom: 5px;
      padding: 10px;
    }

    .sketch_1 {
      width: 100%;
      height: auto;
    }

    .sketch_2 {
      width: 100%;
      height: auto;
    }

    /* Wireframes */

  ul.captions li {
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 15px;
    font-size: .9rem;
    margin-top: 20px;
  }


  .wireframes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343545;
    margin-top: 20px;
  }

  .frames {
    width: 50%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .results {
    background-color: #E6E1E2;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  /* Preference Testing */

  .ab_testing {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .testing {
    width: 100%;
    height: auto;
    padding-top: 15px;
    column-count: 2;
    display: inline-block;
    background-color: #343545;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  }


  .recipe_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .recipe_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  figcaption {
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;

  }

  .preference {
    width: 100%;
    background-color: #E6E1E2;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.preference li {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7;
    padding-bottom: 15px;
    font-size: 1rem;
  }

  li span.important {
    font-weight: 700;
  }

  /* Finishing Touches */

  .final {
    width: 100%;
    height: auto;
    padding-top: 15px;
    column-count: 2;
    display: inline-block;
    background-color: #343545;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  }

  .conversion_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .conversion_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }


  .create_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .create_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  .share_a {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 5px;
  }

  .share_b {
    width: 100%;
    height: auto;
    padding-right: 20px;
    padding-left: 5px;
  }

  /* Links to Figma Protoype */

  .button_lechef_footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10px;

  }

   /* Results and Takeaways */

  .takeaways {
    width: 100%;
    background-color: #FFE4D1;
    margin-top: 10px;
  }

  /* BusyBus Project */

  .hero_busybus {
    background-color: #000000;
    width: 100%;
    text-align: center;
    padding-top: 115px;
  }

    img.busybus_final {
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    h1.Busybus_page {
      padding: 15px;
      font-size: 2rem;
      font-family: 'Helvetica', 'SF Pro Text', sans-serif;
      font-weight: 600;
    }

    h6.Busybus_page {
      text-transform: uppercase;
      padding: 15px;
      font-family: 'Helvetica', 'SF Pro Text', sans-serif;
    }

    p.Busybus_page span.overview {
      text-transform: uppercase;
      font-family: 'Times New Roman', serif;
    }

    p.Busybus_page {
      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 15px;
      font-size: 1rem;
      line-height: 1.6;
      font-family: 'Times New Roman', serif;
    }

    .button_BB {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;

    }

    .BB_button {
      display: inline-block;
      padding: 0.4em 0.3em;
      margin: 0.2em 0.1em 0.2em 0.1em;
      border: solid #425A9F;
      border-radius: .5em;
      background-color: #425A9F;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Crimson Text', 'EB Garamond', serif;
      font-weight: 300;
      color: #FFFFFF;
      text-align: center;
      font-size: .9rem;
    }

    .grid-container_BB {
      display: block;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: .9rem;

    }

    .details_icons_BB {
      margin: 10px;
    }

    /* Information divided in 3 columns */

    .Roles_BB {
      padding: 10px;
    }


    .Deliverables_BB {
      padding: 10px;
    }

    .Details_BB {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    ul.Roles_BB {
      line-height: 1.7;
      margin: 10px;
      font-family: 'Times New Roman', serif;
    }


    ul.Deliverables_BB {
      line-height: 1.7;
      margin: 10px;
      font-family: 'Times New Roman', serif;

    }

    ul.Details_BB {
      line-height: 1.7;
      margin: 10px;
      font-family: 'Times New Roman', serif;
    }

    li span.BB_details {
      font-weight: 700;
      margin-top: 4px;
      text-align: center;
    }

    .Challenge_BB {
      background-color: #4da2ff;
      width: 100%;
    }

    p.Busybus_page span.important {
      font-weight: 700;
    }


    h5.Busybus_page {
      font-size: 1.25rem;
      padding-top: 30px;
      padding-left: 10px;
      padding-bottom: 5px;
      font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      font-weight: 500;

    }

    .comp_logo {
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    img.moovit_logo {
      width: 100%;
      height: auto;
    }

    .sw {
      display: block;
      text-align: left;
    }

    h5.comp {
      font-weight: 500;
      padding-top: 30px;
      padding-left: 10px;
      padding-bottom: 5px;
      font-size: 1.25rem;
    }

    ul.strength {
      padding: 5px 15px 5px 15px;
      font-size: 1rem;
      line-height: 1.6;
      font-family: 'Times New Roman', serif;
      border-bottom: 1px solid #dbd9d9;
    }

    ul.weakness {
      padding: 5px 15px 5px 15px;
      font-size: 1rem;
      line-height: 1.6;
      font-family: 'Times New Roman', serif;
    }


    img.citymapper_logo {
      width: 100%;
      height: auto;
    }

    .opp {
      display: block;
      text-align: left;
    }

    ul.opportunity {
      padding: 5px 15px 5px 15px;
      font-size: 1rem;
      line-height: 1.6;
      font-family: 'Times New Roman', serif;

    }

    .opp p {
      background-color: #D5E0E2;
    }

    .persona1_bb {
      width: 80%;
      height: auto;
      padding-bottom: 20px;

    }

    .persona2_bb {
      width: 80%;
      height: auto;
      padding-bottom: 20px;
    }

    /* User flows */

    .user_flow_bb {
      width: 100%;
      height: auto;
    }

    .user_flow {
      border: 1px solid #dbd9d9;
      margin: 10px;
      text-align: center;
    }

    .user_flow h5.Busybus_page {
      font-size: .7rem;
      text-align: center;
    }

    /* User Stories */

      ul.user_stories_bb li {
        padding: 10px;
        font-size: 1.1rem;
        line-height: 1.5;
        font-family: 'Times New Roman', serif;
        text-align: center;
      }


    ul.product_vision li {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.4;
      font-family: 'Times New Roman', serif;
      font-weight: 600;
    }

    .wireframes_BB {
      background-color: #000000;
      width: 100%;
      text-align: center;
    }

    img.paper_prototype {
      width: 60%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;

    }


    ul.BB_captions {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.4;
    }

    span.color {
      color: #0056B3;
      font-weight: 600;
    }

    .next_stop {
      width: 100%;
      height: auto;
      column-count: 2;
      display: inline-block;
      background-color: #000000;
      font-family: 'Helvetica', 'SF Pro Text', sans-serif;
      margin: 20px;
    }

    .BB_first {
      width: 100%;
      height: auto;
      padding-left: 20px;
      padding-right: 5px;
    }

    .BB_second {
      width: 100%;
      height: auto;
      padding-right: 20px;
      padding-left: 5px;
    }

    .next_stop figcaption {
      text-align: center;
    }

    ul.iteration_changes li {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.4;
      font-family: 'Times New Roman', serif;
    }

    ul.iteration_changes li span.important {
      font-weight: 700;
    }

    figure.final_iteration {
      background-color: #000000;
      width: 100%;
      text-align: center;
      padding: 10px;
    }

    img.BB_final {
      width: 100%;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    ul.final_iteration li {
      padding: 15px;
      font-size: 1rem;
      line-height: 1.6;
      font-family: 'Times New Roman', serif;
    }


    .button_BB {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
    }

    h2.Busybus_page {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 30px;
      padding-left: 10px;
      padding-bottom: 5px;
      font-family: 'Helvetica', 'SF Pro Text', sans-serif;
    }

    .BB_results {
      background-color: #4da2ff;
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .button_BB_footer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      margin-bottom: 10px;

    }

    .BB_button_footer {
      display: inline-block;
      padding: 0.5em 0.4em;
      margin: 0.2em 0.1em 0.2em 0.1em;
      border: solid #343545 1px;
      border-radius: .5em;
      background-color: #343545;
      box-sizing: border-box;
      text-decoration: none;
      font-family: 'Crimson Text', 'EB Garamond', serif;
      font-weight: 300;
      color: #ffffff;
      text-align: center;
      font-size: .9rem;
      font-weight: 600;
    }

    /* Link for other case studies*/

    .more {
      padding: 10px;
      background-color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

    }

    p.projects {
      font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
      color: #ffffff;
      font-size: .9rem;
      padding: 15px;
      text-transform: uppercase;
    }

    a.busybus{
      color: #3898FF;
      font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
      font-weight: 500;
      padding: 15px;
      font-size: .9rem;
      text-decoration: underline;
    }

    a.busybus:visited {
      text-decoration: underline;
      color: #3898FF;
    }

    a.busybus:hover {
      color: #D5E0E2;
      text-decoration: underline;

    }

    a.lechef{
      color: #FA6D4D;
      font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
      font-weight: 500;
      padding: 15px;
      font-size: .9rem;
      text-decoration: underline;
    }

    a.lechef:visited {
      text-decoration: underline;
      color: #FA6D4D;
    }

    a.lechef:hover {
      text-decoration: underline;
      color: #FFE4D1;
    }

/* Responsive design - Tablet view */

@media screen and (min-width: 700px) {

/* Homepage */

  .logo_container {
    padding-left: 30px;
    padding-top: 40px;
  }

  img.logo {
    width: 80%;
    height: auto;
  }

  .nav_links {
    padding-top: 40px;
    padding-right: 30px;
  }

  /*img.hero_homepage {
    margin-top: 100px;
  }*/

  img.home_image {
    background-size: contain;
    width: 100%;
    height: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  p.img_text {
    font-size: 1.5rem;
    line-height: 1.8;
  }


  p.img_text span.name {
    font-size: 1.8rem;
  }

  p.img_text span.location {
    font-size: 2.2rem;
    font-weight: 800;
  }

    .work {
      margin: 30px;
    }

    img.divider {
      width: 10%;
    }

    h2.case_study_title {
      padding-top: 120px;
      font-size: 1.4rem;
    }

    p.homepage {
      padding: 30px;
      font-size: 1.2rem;
    }

    .figma_button_homepage {
      font-size: 1rem;
    }

    .Bus_button {
      font-size: 1rem;
    }

    h3 {
      font-size: 1.1rem;
    }

    /* About page */


    img.bio {
      padding-left: 80px;
      padding-top: 50px;
      width: 100%;
      /*padding-right: 10px;*/
    }

    h1.bio {
      font-size: 1.9rem;
      padding-top: 100px;
      line-height: 1.8;
      padding-right: 80px;
    }

    h2.About {
      padding: 30px;
      padding-left: 100px;
      font-size: 1.5rem;
    }

    p.About {
      padding-left: 100px;
      font-size: 1rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    h5.About {
      padding-left: 100px;
      font-size: 1.25rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    h6.About {
      font-size: 1.5rem;
      line-height: 1.9;
    }

    p.Quote {
      font-size: 1rem;
      line-height: 1.9;
    }

    /* Resume page */

    .resume_button {
      font-size: 1rem;
    }

    /* LeChef project */

    .hero_lechef {
      text-align: center;
      padding-top: 160px;
    }

    img.homepage {
      width: 70%;
      padding-top: 20px;
    }

    h1.Lechef_page {
      padding: 30px;
      padding-left: 100px;
      font-size: 2.5rem;
    }

    p.Lechef_page span.overview {
      font-size: 1rem;
    }

    p.Lechef_page {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    /* Links to Figma prototype */

    .figma_button_lechefpage {
      font-size: 1rem;
    }

    .Roles h6.Lechef_page {
      text-align: center;

    }

    .Deliverables h6.Lechef_page {
      text-align: center;

    }

    .Details h6.Lechef_page {
      text-align: center;

    }

    ul.Roles {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      margin: 10px;
      font-family: 'Crimson Text', 'EB Garamond', serif;

    }

    ul.Deliverables {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      margin: 10px;
      font-family: 'Crimson Text', 'EB Garamond', serif;

    }

    ul.Details {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      margin: 10px;
      font-family: 'Crimson Text', 'EB Garamond', serif;

    }

    li span.details_header {
      font-size: 1rem;

    }

    h2.Lechef_page {
      padding-left: 100px;
      padding-bottom: 5px;
      font-size: 1.5rem;
    }

    h5.Lechef_page {
      font-size: 1.5rem;
      line-height: 1.9;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 5px;
    }

    /* Competitive Analysis */

    h5.comp {
      font-size: 1.5rem;
      line-height: 1.9;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 5px;
      text-align: left;
    }

    ul.strength_lechef {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.weakness_lechef {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.opportunity_lechef {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    img.pinterest_logo {
      width: 70%;
      height: auto;
    }

    img.pinterest_logo {
      width: 50%;
      height: auto;
    }

    /* User Persona */

    .user_persona_img {
      text-align: left;
    }

    .user_persona {
      column-count: 2;
      display: block;
      justify-content: center;
      align-items: center;
      padding-right: 100px;
      padding-left: 100px;
      text-align: left;
      column-gap: 2em;

    }

    .personaA {
      width: 60%;
      height: auto;
      padding-bottom: 10px;
    }

    .personaB {
      width: 70%;
      height: auto;
      padding-bottom: 10px;
    }

    ul.persona_info {
      line-height: 1.5;
    }


    /* User Stories */

    ul.user_stories li {
      font-size: 1.3rem;
    }

    .frames {
      width: 40%;
    }

    ul.key li {
      font-size: 1.3rem;

    }

    /* User flow */

    .user_flow h5.Lechef_page {
      font-size: 1rem;
      text-align: center;
    }

    .user_flow1 {
      width: 100%;
      height: auto;
    }

    .user_flow2 {
      width: 100%;
      height: auto;
    }

    /* Sketches */

    .sketch_lechef {
      padding: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .sketch_1 {
      width: 100%;
      height: auto;
    }

    .sketch_2 {
      width: 100%;
      height: auto;
    }

    /* Wireframes */

    figcaption {
      font-size: .95rem;
    }

    .recipe_a {
      width: 100%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 100px;

    }

    .recipe_b {
      width: 100%;
      padding-top: 20px;
      padding-right: 100px;
      padding-bottom: 20px;
      padding-left: 20px;
      margin-left: 10px;

    }

    .A_recipe figcaption {
      padding-left: 80px;
      padding-bottom: 20px;

    }

    .B_recipe figcaption {
      padding-right: 70px;
      padding-bottom: 20px;
    }

    ul.preference li {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
    }

    .conversion_a {
      width: 100%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 100px;
    }

    .conversion_b {
      width: 100%;
      padding-top: 20px;
      padding-right: 100px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      padding-left: 20px;
      margin-left: 10px;
    }

    .A_conversion figcaption {
      padding-left: 80px;
      padding-bottom: 35px;

    }

    .B_conversion figcaption {
      padding-right: 70px;
      padding-bottom: 20px;
    }

    .create_a {
      width: 100%;
      padding-top: 25px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 100px;
    }

    .create_b {
      width: 100%;
      padding-top: 20px;
      padding-right: 100px;
      padding-bottom: 20px;
      padding-left: 20px;
      margin-left: 10px;
    }

    .A_create figcaption {
      padding-left: 80px;
      padding-bottom: 15px;
      padding-top: 10px;
    }

    .B_create figcaption {
      padding-right: 70px;
      padding-bottom: 20px;
    }

    .share_a {
      width: 100%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 100px;
    }

    .share_b {
      width: 100%;
      padding-top: 20px;
      padding-right: 100px;
      padding-bottom: 20px;
      padding-left: 20px;
      margin-left: 10px;
    }

    .A_share figcaption {
      padding-left: 80px;
      padding-bottom: 15px;
      padding-top: 5px;


    }

    .B_share figcaption {
      padding-right: 70px;
      padding-bottom: 20px;

    }

    .takeaways a {
      padding-left: 85px;
      font-size: 1rem;

    }

    /* BusyBus Project */

    .hero_busybus {
      padding-top: 160px;
    }

    img.busybus {
      width: 70%;
    }

    h1.Busybus_page {
      padding: 30px;
      padding-left: 100px;
      font-size: 2.5rem;
    }

    h6.Busybus_page {
      font-size: 1rem;

    }

    p.Busybus_page span.overview {
      font-size: 1rem;
    }

    p.Busybus_page {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    .BB_button {
      font-size: 1rem;
    }

    /* Project Role // Deliverable// Details */


    ul.Roles_BB {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      margin: 10px;

    }

    ul.Deliverables_BB {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5;
      margin: 10px;

    }

    ul.Details_BB {
      text-align: center;
      line-height: 1.5;
      margin: 10px;

    }

    ul.Details_BB li {
      font-size: 1rem;
    }

    li span.BB_details {
      text-align: center;
      font-weight: 700;
      margin-top: 4px;
      font-size: 1rem;

    }

    h2.Busybus_page {
      padding-bottom: 5px;
      padding-left: 100px;
      font-size: 1.5rem;
    }

    h5.Busybus_page {
      font-size: 1.5rem;
      line-height: 1.9;
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 5px;
    }

    /* Competitive Analysis */

    .comp_logo {
      padding: 20px 100px
    }

    img.moovit_logo {
      width: 70%;
    }

    img.citymapper_logo {
      width: 70%;
    }

    ul.strength {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.weakness {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.opportunity {
      padding-left: 100px;
      font-size: 1.3rem;
      padding-right: 100px;
      line-height: 1.9;
    }

    /* User personas */

    .persona1_bb {
      width: 80%;
      height: auto;
      padding-bottom: 10px;

    }

    .persona2_bb {
      width: 80%;
      height: auto;
      padding-bottom: 10px;

    }

    /* User Stories */

    ul.user_stories_bb li {
      font-size: 1.3rem;
      padding-left: 100px;
      padding-right: 100px;
    }

    /* User flow */

    img.user_flow_bb {
      width: 80%;
      height: auto;
    }

    .user_flow h5.Busybus_page {
      font-size: 1rem;
      text-align: center;
    }

    /* Product Vision */

    ul.product_vision {
      padding-left: 100px;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.product_vision li {
      font-size: 1.4rem;
    }

    /* Paper prototype captions */

    img.paper_prototype {
      width: 30%;
    }

    ul.BB_captions {
      padding-left: 100px;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.BB_captions li {
      font-size: 1.3rem;
    }

    /* Iterations */

    .BB_first {
      width: 100%;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 100px;
    }

    .BB_second {
      width: 100%;
      padding-top: 20px;
      padding-right: 100px;
      padding-bottom: 20px;
      padding-left: 20px;
      margin-left: 10px;
    }

    .BB_iterationA figcaption {
      padding-left: 80px;
      padding-bottom: 15px;
      padding-top: 5px;

    }

    .BB_iterationB figcaption {
      padding-right: 50px;
      padding-bottom: 20px;
    }

    ul.iteration_changes {
      padding-left: 100px;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.iteration_changes li {
      font-size: 1.3rem;
    }

    /* Final Stop */

    ul.final_iteration {
      padding-left: 100px;
      padding-right: 100px;
      line-height: 1.9;
    }

    ul.final_iteration li {
      font-size: 1.3rem;
    }

    .BB_results a {
      padding-left: 85px;
      font-size: 1rem;
      font-weight: 700;

    }

    p.projects {
      font-size: 1rem;
      padding: 15px;
      padding-left: 400px;
    }

    a.busybus {
      color: #3898FF;
      font-weight: 500;
      padding: 15px;
      font-size: 1rem;
      padding-right: 100px;

    }

    a.lechef {
      font-weight: 400;
      padding: 15px;
      font-size: 1rem;
      padding-right: 100px;
    }
}

/* Responsive Design - Desktop view */

@media screen and (min-width: 900px) {

  /* All pages */

  /* Header */

  .logo_container {
    padding-left: 90px;
    padding-top: 40px;
  }

  img.logo {
    width: 80%;
    height: auto;
  }

  .nav_links {
    padding-top: 40px;
    padding-right: 90px;
  }

  .hero {
    text-align: center;
  }

  /*img.hero_homepage {
    width: 100%;
    height: 800px;
    margin-top: 100px;
  }*/

  img.home_image {
    background-size: contain;
    width: 100%;
    min-height: 100vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  p.img_text {
    font-size: 1.7rem;
    line-height: 2;
  }


  p.img_text span.name {
    font-size: 2.5rem;
  }

  p.img_text span.location {
    font-size: 3rem;
    font-weight: 800;
  }

  /* Homepage */

  /* "My Recent Work" */

  img.divider {
    width: 10%;
  }

  /* Project 1 - LeChef */

  .lechef_homepage {
    width: 100%;
    height: auto;
    padding-right: 80px;
  }

  /* All body text on this page */

  p.homepage {
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 80px;


  }

  /* Project title */

  h2.case_study_title {
    margin-top: 100px;
    padding: 30px;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;

  }

  /* All buttons on this page */

  .button_homepage {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;

  }

  /* LeChef button */

  .figma_button_homepage {
    font-size: 1rem;
    padding: 0.3em 1.2em;
    margin: 0;
  }

  /* Project 2 - BusyBus */

  .Busybus {
    width: 100%;
    height: auto;
    padding-right: 80px;
  }

  /* BusyBusy button */

  .Bus_button {
    font-size: 1rem;
  }

  /* All pages - Footer */

  footer {
    padding: 20px;
  }

  h3 {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1rem;
  }

  /* Email // LinkedIn // GitHub */

  .icons {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Copyright footer */

  h4.footer_homepage {
    font-size: 1rem;
    padding: 10px;
    padding-top: 20px;
  }


  /* About page */

  img.bio {
    width: 60%;
    padding-left: 100px;
    margin-left: 200px;
    padding-top: 50px;

  }

  h1.bio {
    font-size: 2.4rem;
    line-height: 1.7;
    padding-right: 400px;
    padding-top: 50px;


    }

  h2.About {
    padding: 30px;
    padding-left: 320px;
    font-size: 1.95rem;
  }

  p.About {
    padding-left: 320px;
    font-size: 1.25rem;
    padding-right: 320px;
    line-height: 1.9;
  }

  h5.About {
    padding-left: 320px;
    font-size: 1.5rem;
    padding-right: 320px;
    line-height: 1.9;
  }

  h6.About {
    font-size: 1.9rem;
    line-height: 1.9;
  }

  p.Quote {
    font-size: 1.25rem;
    line-height: 1.9;
  }

  /* Resume page */
  img.resume {
    width: 50%;
  }

  /* LeChef page */

  /* Hero section */

  img.homepage {
    width: 50%;
  }

  h1.Lechef_page {
    padding: 30px;
    padding-left: 320px;
    font-size: 3rem;
  }

  p.Lechef_page span.overview {
    font-size: 1rem;

  }

  p.Lechef_page {
    padding-left: 320px;
    font-size: 1.3rem;
    padding-right: 320px;
    line-height: 1.9;

  }

  /* Links to Figma prototype */

  .figma_button_lechefpage {
    font-size: .95rem;
  }

  /* Details in 3 columns */

  .grid-container {
    width: 100%;
    padding: 15px;
    column-count: 3;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-rule-style: solid;
    column-gap: .02em;
    column-rule-color: #979797;
    column-rule-width: .09rem;

  }

  .Roles {
    margin-bottom: 40px;
  }

  ul.Roles {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.Deliverables {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  ul.Details {
    font-size: 1rem;
    text-align: center;
    line-height: 1.3;
    font-family: 'Crimson Text', 'EB Garamond', serif;

  }

  li span.details_header {
    font-size: 1rem;

  }

  h2.Lechef_page {
    padding-top: 30px;
    padding-left: 320px;
    padding-bottom: 5px;
  }

  /* Competitive Analysis */

  .sw {
    column-count: 2;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h5.comp {
    font-size: 1.3rem;
    line-height: 1.9;
    padding-left: 320px;
    padding-right: 320px;
    text-align: left;
  }

  .weakness h5 {
    padding-right: 300px;
    padding-left: 100px;
  }

  ul.strength_lechef {
    padding-left: 300px;
    font-size: 1.3rem;
    padding-right: 100px;
    line-height: 1.9;
    border-bottom: 0px;

  }

  ul.weakness_lechef {
    padding-left: 100px;
    font-size: 1.3rem;
    padding-right: 300px;
    line-height: 1.9;
  }

  ul.opportunity_lechef {
    padding-left: 320px;
    font-size: 1.3rem;
    padding-right: 320px;
    line-height: 1.9;
  }

  img.recipebox_logo {
    width: 50%;
    height: auto;
  }

  img.pinterest_logo {
    width: 40%;
    height: auto;
  }

  /* User Persona */

  .user_persona {
    padding-left: 320px;
    padding-right: 320px;

  }

  .personaA {
    width: 40%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .personaB {
    width: 35%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  h5.Lechef_page {
    font-size: 1.3rem;
    line-height: 1.9;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 30px;
    padding-bottom: 5px;
  }


  /* User Stories */

  ul.user_stories li {
    font-size: 1.3rem;
  }

  .frames {
    width: 20%;
  }

  ul.key li {
    font-size: 1.3rem;
    /*margin-bottom: 10px;*/
  }

  /* User Flow */

  .user_flow h5.Lechef_page {
    font-size: 1.2rem;
  }

  .user_flow1 {
    width: 80%;
    height: auto;
  }

  .user_flow2 {
    width: 80%;
    height: auto;
  }

  /* Sketches */

  .sketch_lechef {
    padding: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sketch_1 {
    width: 100%;
    height: auto;
  }

  .sketch_2 {
    width: 100%;
    height: auto;
  }

  /* Wireframes */

  figcaption {
    font-size: .8rem;
  }

  .recipe_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    margin-left: 70px;
  }

  .recipe_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 250px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;

  }


  .A_recipe figcaption {
    padding-left: 160px;
    padding-bottom: 20px;

  }

  .B_recipe figcaption {
    padding-right: 250px;
    padding-bottom: 20px;
  }

  ul.preference li {
    padding-left: 320px;
    font-size: 1.3rem;
  }


  .conversion_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 230px;
    margin-left: 90px;
  }

  .conversion_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 230px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_conversion figcaption {
    padding-left: 200px;
    padding-bottom: 20px;

  }

  .B_conversion figcaption {
    padding-right: 200px;
    padding-bottom: 20px;
  }

  .create_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    margin-left: 70px;
  }

  .create_b {
    width: 70%;
    padding-top: 15px;
    padding-right: 250px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 100px;
  }

  .A_create figcaption {
    padding-left: 170px;
    padding-bottom: 20px;

  }

  .B_create figcaption {
    padding-right: 210px;
    padding-bottom: 25px;

  }

  .share_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 250px;
    margin-left: 60px;
  }

  .share_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 250px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_share figcaption {
    padding-left: 150px;
    padding-bottom: 20px;

  }

  .B_share figcaption {
    padding-right: 250px;
    padding-bottom: 20px;

  }

  .takeaways a {
    padding-left: 305px;
    font-size: .8rem;

  }

  /* Project 2 - Busy Bus */

  img.busybus_final {
    width: 60%;
  }

  h1.Busybus_page {
    padding: 30px;
    padding-left: 320px;
    font-size: 3rem;
  }

  h6.Busybus_page {
    font-size: 1rem;

  }

  p.Busybus_page span.overview {
    font-size: 1rem;

  }

  p.Busybus_page {
    padding-left: 320px;
    font-size: 1.3rem;
    padding-right: 320px;
    line-height: 1.9;
    padding-top: 5px;
  }

  /* Details in 3 columns */

  .grid-container_BB {
    width: 100%;
    padding: 15px;
    column-count: 3;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-rule-style: solid;
    column-gap: .02em;
    column-rule-color: #979797;
    column-rule-width: .09rem;

  }

  .BB_Roles {
    margin-bottom: 40px;
  }


  ul.Roles_BB {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    font-family: 'Times New Roman', serif;

  }

  ul.Deliverables_BB {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    font-family: 'Times New Roman', serif;

  }

  ul.Details_BB {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    font-family: 'Times New Roman', serif;

  }

  li span.BB_details_header {
    font-size: 1rem;

  }

  h2.Busybus_page {
    padding-top: 30px;
    padding-left: 320px;
    padding-bottom: 5px;
    font-size: 1.5rem;
  }

  h5.Busybus_page {
    font-size: 1.5rem;
    line-height: 1.9;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 30px;
    padding-bottom: 5px;
  }

  /* Competitive Analysis */

  .comp_logo {
    padding: 50px 320px
  }

  img.moovit_logo {
    width: 50%;
  }

  img.citymapper_logo {
    width: 50%;
  }

  ul.strength {
    padding-left: 300px;
    font-size: 1.3rem;
    padding-right: 100px;
    line-height: 1.9;
    border-bottom: 0px;

  }

  ul.weakness {
    padding-left: 100px;
    font-size: 1.3rem;
    padding-right: 300px;
    line-height: 1.9;

  }

  ul.opportunity {
    padding-left: 320px;
    font-size: 1.3rem;
    padding-right: 320px;
    line-height: 1.9;
  }

  h5.comp {
    margin-top: 20px;
  }

  .opp {
    margin: 30px 0 30px 0;
  }


  /* User persona */

  .persona1_bb {
    width: 45%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .persona2_bb {
    width: 55%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;

  }

  ul.persona_info {
    font-size: 1rem;
  }

  /* User Stories */

  ul.user_stories_bb li {
    font-size: 1.3rem;
  }

  /* User flow */

  .user_flow h5.Busybus_page {
    font-size: 1.2rem;
    text-align: center;
  }

  img.user_flow_bb {
    width: 80%;
    height: auto;
  }

  ul.product_vision {
    padding-left: 320px;
    padding-right: 320px;
  }

  ul.product_vision li {
    font-size: 1.4rem;
  }

  .BB_paper_wireframes {
    max-width: 100%;
    column-count: 2;
    display: inline-block;
    background-color: #000000;

  }

  img.paper_prototype {
    width: 50%;
    float: left;
    clear: right;
    padding: 30px;
    margin-left: 300px;
  }


  ul.BB_captions {
    padding-right: 250px;
    font-size: 1.3rem;
    color: #ffffff;
    margin: 30px;
    line-height: 1.9;
    float: right;
    clear: left;
    padding-top: 60px;

  }

  .BB_first {
    width: 70%;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 245px;
    margin-left: 50px;
  }

  .BB_second {
    width: 70%;
    padding-top: 50px;
    padding-right: 250px;
    padding-bottom: 25px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .BB_iterationA figcaption {
    padding-left: 130px;
    margin-bottom: 10px;
  }

  .BB_iterationB figcaption {
    padding-right: 240px;
    margin-bottom: 10px;
  }

  ul.iteration_changes {
    padding-left: 320px;
    padding-right: 320px;
  }

  ul.iteration_changes li {
    font-size: 1.3rem;
  }

  img.BB_final {
    width: 40%;
  }

  ul.final_iteration {
    padding-left: 320px;
    padding-right: 320px;
  }

  ul.final_iteration li {
    font-size: 1.3rem;
  }

  .button_BB_footer {
    padding-left: 235px;
  }

  p.projects {
    font-size: 1rem;
    padding: 15px;
    padding-left: 500px;
  }

  a.busybus{
    color: #3898FF;
    font-weight: 500;
    padding: 15px;
    font-size: 1rem;
    padding-right: 20px;

  }

  a.lechef{
    font-weight: 400;
    padding: 15px;
    font-size: 1rem;
    padding-right: 20px;
  }
}
