*, *:before, *:after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #000000;
  width: 100%;

}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 20px;


}

.nav_bar {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 50% 50% 50% 50%;
  text-align: center;

}

ul.nav_bar li {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
}

a.case_studies:link {
  color: inherit;
  text-decoration: none;
}

a.case_studies:visited {
  color: inherit;
  text-decoration: none;
}

a.case_studies:hover {
  color: #FFB884;
  text-decoration: underline;
}

a.case_studies:active {
  color: #FA6D4D;
  text-decoration: underline;
}

.hero {
  background-color: #FFB884;
  width: 100%;
  text-align: center;
}

img.homepage {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  padding: 15px;
  font-size: 1.4rem;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 600;
}

h3 {
  text-transform: uppercase;
  padding: 15px;
  font-family: 'Crimson Text', 'EB Garamond', serif;
}

p {
  padding: 15px;
  font-size: .8rem;
  line-height: 1.4;
  font-family: 'Crimson Text', 'EB Garamond', serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.figma_button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: solid #FA6D4D;
  border-radius: .5em;
  background-color: #FA6D4D;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  font-size: .75rem;
}

.grid-container {
  width: 100%;
  padding: 15px;
  column-count: 3;
  display: inline-block;
  column-rule-style: solid;
  column-gap: 1em;
  column-rule-color: #979797;
  column-rule-width: .09rem;

}

.grid-container h3 {
  margin-right: 15px;
  padding-bottom: 10px;

}



ul.Roles {
  line-height: 1.7;
  margin: 10px;
  font-family: 'Crimson Text', 'EB Garamond', serif;

}

ul.Deliverables {
  line-height: 1.4;
  margin: 10px;
  font-family: 'Crimson Text', 'EB Garamond', serif;


}

ul.Details {
  line-height: 1.3;
  margin: 10px;
  text-align: left;
  font-family: 'Crimson Text', 'EB Garamond', serif;

}

li span.details_header {
  font-weight: 700;
  margin-top: 4px;
}

.Challenge {
  background-color: #FFE4D1;
  width: 100%;

}

h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px;
  font-family: 'Crimson Text', 'EB Garamond', serif;
}

p span.important {
  font-weight: 700;
}

ul.key h5 {
  text-align: center;
}

ul.key li {
  padding: 15px;
  font-size: .8rem;
  line-height: 1.4;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  text-align: center;
}

p span.key {
  font-style: italic;
}

.persona1 {
  width: 100%;
  height: auto;
}

.persona2 {
  width: 100%;
  height: auto;
}

.branding {
  margin-top: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 1.1rem;
  padding: 15px;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  font-style: italic;
  font-weight: 200;
}

ul.captions li {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 15px;
  font-size: .9rem;
  margin-top: 20px;
}


ul.user_stories li {
  padding: 15px;
  font-size: .8rem;
  line-height: 1.4;
  font-family: 'Crimson Text', 'EB Garamond', serif;
  text-align: center;
}

.wireframes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343545;
  margin-top: 20px;
}

.frames {
  width: 50%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.results {
  background-color: #E6E1E2;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

}

.ab_testing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.testing {
  width: 100%;
  height: auto;
  padding-top: 15px;
  column-count: 2;
  display: inline-block;
  background-color: #343545;
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
}


.recipe_a {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 5px;
}

.recipe_b {
  width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 5px;
}

figcaption {
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;

}

.preference {
  width: 100;
  background-color: #E6E1E2;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Crimson Text', 'EB Garamond', serif;

}

ul.preference li {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 1.7;
  padding-bottom: 15px;
}

li span.important {
  font-weight: 700;
}

.final {
  width: 100%;
  height: auto;
  padding-top: 15px;
  column-count: 2;
  display: inline-block;
  background-color: #343545;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
}

.conversion_a {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 5px;
}

.conversion_b {
  width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 5px;
}


.create_a {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 5px;
}

.create_b {
  width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 5px;
}

.share_a {
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-right: 5px;
}

.share_b {
  width: 100%;
  height: auto;
  padding-right: 20px;
  padding-left: 5px;
}

a.figma_link {
  margin: 15px;
  color: #FA6D4D;
  font-weight: bold;
  font-family: 'Crimson Text', 'EB Garamond', serif;
}

.takeaways {
  width: 100%;
  background-color: #FFE4D1;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-family: 'Hind', 'Open Sans', 'Source Sans Pro', sans-serif;
}

h4 {
  font-size: .9rem;
  padding-bottom: 15px;
  text-align: center;
}

.icons {
  column-count: 3;
  margin-left: 70px;
  margin-right: 70px;

}

a.icon_links:link {
  color: inherit;
  text-decoration: none;
}

a.icon_links:visited {
  color: inherit;
  text-decoration: none;
}

a.icon_links:hover {
  color: #FFB884;
  text-decoration: none;
}

a.icon_links:active {
  color: #FA6D4D;
  text-decoration: none;
}


h6 {
  font-size: .7rem;
  margin-bottom: 20px;
  margin-top: 5px;
  padding-top: 15px;
}

@media screen and (min-width: 900px) {
  img.homepage {
    width: 40%;

  }

  h1 {
    padding: 30px;
    padding-left: 200px;
    font-size: 3rem;
  }

  h3 {
    padding: 30px;
    padding-left: 200px;
    font-size: 1rem;
  }

  p {
    padding-left: 200px;
    font-size: .9rem;
    padding-right: 200px;
    line-height: 1.9;
  }

  .figma_button {
    font-size: .95rem;
  }

  .Roles h3 {
    text-align: center;
    margin-right: 135px;
  }

  .Deliverables h3 {
    text-align: center;
    padding-top: 25px;
    padding-left: 70px;


  }

  .Details h3 {
    text-align: center;
    padding-top: 25px;
    padding-left: 80px;
  }

  ul.Roles {
    font-size: .8rem;
    padding-left: 30px;
    text-align: center;

  }

  ul.Deliverables {
    font-size: .8rem;
    padding-left: 30px;
    text-align: center;

  }

  ul.Details {
    font-size: .8rem;
    padding-left: 30px;
    text-align: center;

  }

  li span.details_header {
    text-align: center;

  }

  h2 {
    padding: 30px;
    padding-left: 200px;
  }

  .persona1 {
    width: 49%;
    padding: 20px 25px 20px 200px;

  }

  .persona2 {
    width: 49%;
    padding: 20px 200px 20px 25px;

  }

  h5 {
    padding-left: 200px;
  }

  .frames {
    width: 20%;
  }

  ul.key h5 {
    padding-left: 15px;
  }

  ul.key li {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  figcaption {
    font-size: .8rem;
  }

  .recipe_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .recipe_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;

  }


  .A_recipe figcaption {
    padding-left: 80px;
    padding-bottom: 20px;

  }

  .B_recipe figcaption {
    padding-right: 220px;
    padding-bottom: 20px;
  }

  ul.preference li {
    padding-left: 200px;
    font-size: .9rem;
  }


  .conversion_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .conversion_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_conversion figcaption {
    padding-left: 80px;
    padding-bottom: 35px;

  }

  .B_conversion figcaption {
    padding-right: 220px;
    padding-bottom: 20px;
  }

  .create_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .create_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_create figcaption {
    padding-left: 80px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .B_create figcaption {
    padding-right: 220px;
    padding-bottom: 30px;
  }

  .share_a {
    width: 70%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 220px;
    margin-left: 50px;
  }

  .share_b {
    width: 70%;
    padding-top: 20px;
    padding-right: 220px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 90px;
  }

  .A_share figcaption {
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 10px;

  }

  .B_share figcaption {
    padding-right: 220px;
    padding-bottom: 20px;

  }

  .takeaways a {
    padding-left: 185px;
    font-size: .8rem;

  }

  footer {
    padding: 20px;
  }

  h4 {
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.1rem;
  }

  .icons {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  h6 {
    font-size: 1rem;
    padding: 10px;
    padding-top: 20px;

  }
}
